<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>게시판</title>
<!--    <nav style="color: black;">홈 화면</nav>-->
</head>
<body>
<div>
    <br/>
    <div align="center">  <!-- style="margin-right: 100px">-->
        <button onclick="location.href='./content/write'">
            글 작성
        </button>
    </div>
</div>
<br/>
<div>
    <table border="1" align="center">
        <thead>
        <tr>
            <th width="100">#</th>
            <th width="500">제목</th>
            <th width="300">작성자</th>
            <th width="300">최근 수정일</th>
            <th width="300">글 보기/수정/삭제</th>
        </tr>
        </thead>
        <tbody align="center">
        <tr th:each="content: ${contents}">
            <td th:text="${content.id}"></td>
            <td th:text="${content.title}"></td>
            <td th:text="${content.writer}"></td>
            <td th:text="${content.updateDate}"></td>
            <td> <button th:onclick="|location.href='@{/content/}'+${content.id}|" style="height:40px;">보기</button> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>